html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}
html {
  background-color: #ffff00;
}
body {
  width: 950px;
  margin: 0 auto;
  background-color: #10ECAD;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #ffff00;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
p {
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  color: #F53C0A;
  text-shadow: 1px 1px 1px black;
}
button{
  width: 10%;
}

